.navbar {
  max-width: 90%;
  margin: 1.2rem auto;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  outline: 4px solid #4e4e50;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
}

.navbar__logo > a {
  font-weight: 700;
  font-size: 1.5rem;
  color: #c3083f;
}

.navbar__right-aligned-links {
  display: flex;
  gap: 0.7rem;
}

.navbar__links {
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.navbar__links > li,
a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.navbar__links a:active {
  color: #c3083f;
}

.navbar_search {
  color: #4e4e50;
  border: none;
  font-size: 1rem;
  background: transparent;
  outline: 2px solid #c3083f;
  border-radius: 10px;
  padding: 0.5rem 2rem 0.5rem 4rem;
}

.search__wrap {
  position: relative;
}

.navbar_custom-select {
  position: absolute;
  left: 3%;
  font-size: 1rem;
  top: 0.4rem;
  color: white;
  background-color: transparent;
  text-transform: capitalize;
  border: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.searchIcon {
  padding: 0;
  position: absolute;
  font-size: 2rem;
  right: -3%;
  top: -0.4rem;
}

@media (max-width: 580px) {
  .navbar {
    justify-content: center;
    gap: 0.5rem;
  }
}
