.navbar {
  max-width: 90%;
  margin: 1.2rem auto;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  outline: 4px solid #4e4e50;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo>a {
  font-weight: 700;
  font-size: 1.5rem;
    color: #C3083F;
}

.navbar__right-aligned-links {
  display: flex;
  gap: 0.7rem;
}

.navbar__links {
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.navbar__links > li,
a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.navbar__links
a:active {
  color: #C3083F;
}

.navbar_search {
    color: #4e4e50;
    border: none;
    font-size: 1rem;
    background: transparent;
    outline: 2px solid #C3083F;
    border-radius: 10px;
    padding: 0.5rem;
}